.Home {
  text-align: center;
  width: fit-content;
  margin: 64px auto;
}

.Me {
  display: inline-block;
  border-radius: 128px;
  width: 250px;
  height: 250px;
}

h3 {
  text-align: start;
  margin: 1.25rem 0 !important;
}

.Intro {
  width: 150px;
  height: 48px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
}

.Intro .Arrow {
  margin-top: 16px;
}
