.About {
  min-height: 100vh;
  display: flex;
}

.Intro,
.Story {
  padding: 1rem 2.5rem;
  max-width: 50%;
}

.Icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.Icons img {
  height: 5rem;
  width: 5rem;
}

.Logo {
  text-align: center;
}
