.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: var(--bs-primary);
}

.Navbar a {
  color: var(--bs-secondary);
  font-size: 1.1rem;
}

.Navbar a:hover {
  color: var(--bs-gray);
}
