.Navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 64px;
  background-color: var(--bs-primary);
  position: fixed;
  width: 100%;
  top: 0;
}

.Navbar * {
  color: var(--bs-secondary);
  cursor: pointer;
  padding: 0 8px;
}

.Navbar *:hover {
  color: var(--bs-gray);
}
